/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* 3. Allow percentage-based heights in the application */
html {
  height: 100%;
}

body {
  min-height: 100%;
}

/* 4. Add accessible line-height */
body {
  line-height: 1.5;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Remove built-in form typography styles */
input,
button,
textarea,
select,
a {
  font: inherit;
  color: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

@font-face {
  font-family: Manrope;
  src: url(../font/Manrope/Manrope-VariableFont_wght.ttf);
}
:root {
  --font-family-headings: Manrope, sans-serif;
  --font-family-text: sans-serif;
  --font-size-body: 0.813rem;
  --font-weight-heading-1: 500;
  --font-weight-heading-2: 700;
  --color-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --color-desaturated-dark-blue: hsl(214, 17%, 51%);
  --color-grayish-blue: hsl(212, 23%, 69%);
  --color-light-grayish-blue: hsl(210, 46%, 95%);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-headings);
}

body {
  background-color: var(--color-light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-text);
  font-size: var(--font-size-body);
}

article {
  background-color: white;
  width: 375px;
  border-radius: 16px;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.article__content {
  padding: 32px;
}

.article__heading {
  color: var(--color-very-dark-grayish-blue);
  font-size: 19px;
  margin-bottom: 16px;
}

.article__text {
  color: var(--color-desaturated-dark-blue);
}

.article__footer {
  display: flex;
  align-items: center;
  padding: 24px 32px;
}

.article__footer--share-active {
  background-color: var(--color-very-dark-grayish-blue);
}

.article__footer__info {
  display: flex;
  gap: 16px;
}

.article__footer__info img {
  aspect-ratio: 1;
  width: 48px;
  border-radius: 50%;
}

.article__author {
  font-weight: var(--font-weight-heading-2);
  color: var(--color-desaturated-dark-blue);
}

.article__date {
  color: var(--color-desaturated-dark-blue);
}

.share__info {
  display: flex;
  gap: 16px;
  align-items: center;
}

.share__info p {
  font-size: 16px;
  letter-spacing: 4px;
  font-weight: 500;
  color: var(--color-grayish-blue);
}

.share__info img {
  aspect-ratio: 1;
  width: 24px;
}

.share__button {
  margin-left: auto;
  border: none;
  background-color: var(--color-light-grayish-blue);
  aspect-ratio: 1/1;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.share__button--active {
  background-color: var(--color-desaturated-dark-blue);
}

.share__button--active img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}

/*# sourceMappingURL=style.css.map */
